.card {
  border-left: 6px solid transparent;
  margin-bottom: 1rem;
  width: clamp(288px, 80vw, 388px);
  height: clamp(288px, 80vh, 428px);
  background-color: #fdfd96;
  /*font-family: "Permanent Marker", cursive;*/
  font-family: "Patrick Hand", cursive;
  font-size: clamp(22px, 2.5vw, 24px);
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  display: flex;
  transform: rotate(-3deg);
}

.card-body {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.category-work {
  border-left-color: #e74c3c;
}
.category-private {
  border-left-color: #27ae60;
}
.category-school {
  border-left-color: #2980b9;
}

.todo-due-date {
  float: center;
  font-size: 0.9rem;
  color: #888;
  font-family: "Roboto Mono", monospace;
}

.todo-meta {
  /*margin-top: 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drag-handle {
  cursor: move;
  margin-right: 10px;
  color: #888;
}
.card-actions {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
