@import url("variables.css");
@import url("./html/components/action-button/action-button.css");
@import url("./html/components/filter-buttons/filter-buttons.css");
@import url("./html/components/footer/footer.css");
@import url("./html/components/nav/nav.css");
@import url("./html/components/aside/aside.css");
@import url("./html/components/body/body.css");
/* @import url("./html/components/note/note.css"); */
@import url("./html/components/todo/todo.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
