.theme-toggle-btn {
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.theme-toggle-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.moon-icon {
  display: block;
}

.sun-icon {
  display: none;
}

.dark-theme .sun-icon {
  display: block;
}

.dark-theme .moon-icon {
  display: none;
}
