.theme-toggle-btn {
  background-color: transparent;
  color: inherit;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.theme-toggle-btn svg {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.moon-icon {
  display: block;
}

.sun-icon {
  display: none;
}

.dark-theme .sun-icon {
  display: block;
}

.dark-theme .moon-icon {
  display: none;
}
