body {
  display: grid;
  min-height: 100vh;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Poppins", sans-serif;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

nav {
  grid-area: nav;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--nav-background-color);
  border-bottom: 1px dashed #111;
  z-index: 100;
}

footer {
  grid-area: footer;
  height: 70px;
  background-color: var(--footer-background-color);
  border-top: 1px dashed #111;
}
main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--main-background-color);
}
aside {
  display: none;
}

@media screen and (min-width: 900px) {
  body {
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "nav nav"
      "aside main"
      "footer footer";
  }

  aside {
    display: block;
    grid-area: aside;
    width: 250px;
    background-color: var(--aside-background-color);
    border-right: 1px solid #111;
  }

  body.aside-collapsed aside {
    transform: translateX(-100%);
    position: absolute;
    z-index: 999;
  }

  body.aside-collapsed {
    grid-template-columns: 0 1fr;
  }
}
