.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
  color: var(--text-color);
}
.navbar-logo {
  padding-left: 20px;
  color: inherit;
}

.navbar-links {
  display: flex;
  align-items: center;
}
.github-logo {
  height: 32px;
}

.dark-theme .github-logo {
  filter: invert(1);
}
.navbar-links a {
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
  color: inherit;
}
